* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.body {
  width: 360px;
  height: 80vh;
  background-color: white;
  border: 3px solid black;
  border-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border: 3px solid black;
  font-size: 20px;
  font-weight: bold;
  
}
.menu:hover,
.navigation .menu.active,
.menu.active {
  background-color: green;
  transition: background-color 0.3s ease;
}




a {
  text-decoration: none;
  color: inherit;
 
}

a:visited {
  color: inherit;
}

.body input[type="text"] {
  height: 80%;
  width: 80%; /* Adjust the width as needed */
  padding: 10px;
  font-size: 16px;
  
}

.add-button {
  
  border: none;
  border-radius: 20%;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 130px;
  margin-right: 5px;
  margin-left: 5px;
 
}


.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.add-button:hover {
  background-color: black;
}

.buttons {
  margin-top: 30px;
}

.text-input {
  resize: none;
  width: 75%;
  height: 70%;
  font-size: 20px;
 
}


.list-box {
  height: 600px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  margin-bottom: 15px;
}

.edit {
  width: 360px;
  height: 80vh;
  background-color: white;
  border: 3px solid black;
  border-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  position: relative;
 
}

.edit h3 {
  width: 48%; 
  margin-bottom: 10px; 
  
}

.edit ul {
  width: calc(50% - 10px);
 
}

.edit h3 {
  position: relative;
}
.edit h3:hover + ul {
  
  display: block;
}

ul {
  list-style: none;
  padding: 20px
}

.hover-content {
  font-size: 20px;
  font-weight: bold;
  display: none;
  position: absolute;
  top: 5%;
  left: 100%;
  background-color: white;
  border: 2px solid black;
  
}

.hover-trigger {
  position: relative;
}

.hover-trigger:hover + .hover-content {
  display: flex;
  flex-wrap: wrap;
  
  
}
